<div id="map"></div>

<p-sidebar [(visible)]="sidebarStatusIsActive" position="left" [fullScreen]="false" [modal]="false">
  <ng-template pTemplate="header" class="blue-light-bar">
    <div
      style="width: 90%; display: flex;  flex-direction: column; align-items: center; font-family: cursive; color: white">
      <img width="60" height="40" src="assets/logo_snow_plow_truck_frnt.png" alt="">
      ПАНЕЛЬ УПРАВЛЕНИЯ
    </div>
  </ng-template>
  <ng-template pTemplate="content">
    <div class="card flex justify-content-center">
      <h3 class="centered-button">Маршруты</h3>
      <p-scrollPanel [style]="{ width: '100%', height:'70vh' }" styleClass="custombar1" #scrollPanel>
        <div *ngIf="routes.length > 0; else textNoRoutes">
          <div *ngFor="let route of routes; let i = index" #routeList>
            <p-card
              [ngClass]="{
      'card-normal': activeRouteIndex === null,
      'card-dim': activeRouteIndex !== null && activeRouteIndex !== i,
      'card-highlight': activeRouteIndex === i
    }"
              (mouseenter)="selectLayerByCard_ME($event, route, i)"
              (mouseleave)="deselectLayerByCard_ML($event, i)"
            >
              <div class="route-wrapper">
                <div class="route-info">
                  <b>Маршрут {{i + 1}}</b>
                </div>
                <div class="route-indicator" [style.background-color]="routesColors[i]"></div>
              </div>

              <div class="text-with-info-tooltip">
                <h4>Эффективность</h4>
                <p-button icon="pi pi-question" styleClass="p-button-rounded  p-button-text p-button-raised"
                          pTooltip="Эффективность уборки снега. Чем больше, тем лучше" tooltipZIndex="20050"
                          [disabled]="true"
                ></p-button>
              </div>
              <p-progressBar [value]="route.efficacy" [showValue]="true">
              </p-progressBar>


              <div class="text-with-info-tooltip">
                <h4> Перекрытие другими маршрутами:</h4>
                <p-button icon="pi pi-question" styleClass="p-button-rounded  p-button-text p-button-raised"
                          pTooltip="Если больше 0%, значит маршрут использует чужие маршруты, за которые отвечает другая техника.
              Чем ближе к 100%, тем хуже." tooltipZIndex="20050" [disabled]="true"
                ></p-button>
              </div>
              <p-progressBar [value]="route.overlay" [showValue]="true">
              </p-progressBar>

              <div class="text-with-info-tooltip">
                <h4>Часы работы {{ route.hours }}</h4>
                <p-button icon="pi pi-question" styleClass="p-button-rounded  p-button-text p-button-raised"
                          pTooltip="Сколько по времени работает техника на данном маршруте" tooltipZIndex="20050"
                          [disabled]="true"
                ></p-button>
              </div>

            </p-card>
            <hr>
          </div>
        </div>

        <ng-template #textNoRoutes>
          Похоже, пока маршрутов нет.
        </ng-template>
      </p-scrollPanel>
    </div>
  </ng-template>


  <ng-template pTemplate="footer">
    <div class="footer-wrapper">
      <div class="spacer02"></div>
      <p-button *ngIf="isMapLoaded; else spinner" label="Добавить маршрут" [disabled]="buttonAddIsDisabled"
                (click)="addRoute()"></p-button>
      <ng-template #spinner>
        <p-button [disabled]="true"><i class="pi pi-spin pi-spinner" style="font-size: 2rem"></i></p-button>
      </ng-template>
      <div class="spacer03"></div>
      <p-button *ngIf="isMapLoaded; else spinner2" label="Удалить все" styleClass="p-button-danger"
                (onClick)="removeAllRoutes()"></p-button>
      <ng-template #spinner2>
        <p-button styleClass="p-button-danger" [disabled]="true">
          <i class="pi pi-spin pi-spinner" style="font-size: 2rem"></i>
        </p-button>
      </ng-template>
      <div class="spacer02"></div>
    </div>
  </ng-template>

</p-sidebar>
<p-button (click)="sidebarStatusIsActive = true" icon="pi pi-arrow-left" class="plus"></p-button>

